@model Factory.Models.Engineer
@using Factory.Models

<br>
<br>
<br>
<h2 class="title">Add an Engineer</h2>

<div class="content_box">
    <h4 class="bold">Add a Engineer to this Machine: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model
        =>
        model.LastName)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.EngineerId)

        @Html.Label("Select Engineer")
        @Html.DropDownList("Engineer", (SelectList)ViewBag.EngineerId, "Select an Engineer")

        <input type="submit" value="Save" class="button" />
    }
    <br>
</div>