@using Factory.Models
@model Factory.Models.Machine

<h1>Sell Your Machine</h1>

<div class="content_box">
  @using (Html.BeginForm())
  {
    <br>
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    <br>

    @Html.LabelFor(m => m.Description)
    @Html.TextBoxFor(m => m.Description)
    <br>
    <br>
    <input type="submit" value="Sell Your Machine" class="button" />
    <br>
    <br>
    <p class="button">@Html.ActionLink("Back", "Index")</p>
  }
</div>