@using Factory.Models
@model Factory.Models.Machine

<h1>@Model.Name Details</h1>
<div class="content_box">
  <h3 class="bold"> @Html.DisplayFor(m => m.Name)</h3>
  <hr />
  <h3>@Html.DisplayNameFor(m => m.Description): @Html.DisplayFor(m => m.Description)</h3>

  @if (@Model.JoinEntities.Count == 0)
  {
    <p>No Engineers Assigned</p>
    <br />
    <br />
  }
  else
  {
    <div class="content_box">
      <h3>Engineers Assigned to this Machine</h3>
      <br>
      @foreach (EngineerMachine join in Model.JoinEntities)
      {
        <p class="bold"> @join.Engineer.FirstName @join.Engineer.LastName</p>
        <p>Specialty: @join.Engineer.Specialty</p>
        <br />

        @using (Html.BeginForm("Index", "Engineer"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input class="button" type="submit" value="Delete" />
        }
        <br>
      }
    </div>

  }
  <p class="button"><a href="@Url.ActionLink("Index", "Engineers")">All Engineers</a></p>
  <p class="button">@Html.ActionLink("Add an Engineer", "AddEngineer", "Machines", new { id = Model.MachineId }, null)
  </p>
  <p class="button"><a href="@Url.ActionLink("Create", "Engineers")">Apply to be an Engineer for this Machine</a></p>
  <br />
  <br />
</div>
