@model Factory.Models.Engineer

<br>
<br>
<br>
<h2 class="title">Add a Machine</h2>

<div class="content_box">
    <h4 class="bold">Add a Machine to this Engineer: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model
        =>
        model.LastName)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.EngineerId)

        @Html.Label("Select Machine")
        @Html.DropDownList("MachineId", (SelectList)ViewBag.MachineId, "Select a Machine")

        <input type="submit" value="Save" class="button" />
    }
    <br>
</div>